.experience-the-thrill {
  width: 472px;
  position: relative;
  letter-spacing: -2.8px;
  line-height: 68px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.dive-into-the,
.input {
  font-weight: 700;
  max-width: 100%;
}
.dive-into-the {
  margin: 0;
  width: 477px;
  position: relative;
  font-size: 13.8px;
  letter-spacing: -0.5px;
  line-height: 20.7px;
  display: flex;
  align-items: center;
}
.input {
  border: 0;
  background-color: transparent;
  width: 434px;
  height: 52px;
  font-family: Verdana;
  font-size: 12.4px;
  color: #515151;
}
.background1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 219px 20px 218.8px 270px;
  box-sizing: border-box;
  gap: 11px;
  background-image: url(/public/background@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.container {
  width: 920px;
  height: 1px;
  position: relative;
  display: none;
  max-width: 100%;
}
.empower-with-exceptional {
  align-self: stretch;
  height: 181px;
  position: relative;
  letter-spacing: -2px;
  line-height: 68px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.our-dedicated-team {
  display: block;
}
.download-from-just-container1 {
  width: 100%;
}
.download-from-just-container {
  margin: 0;
  width: 471.3px;
  position: relative;
  font-size: 15.5px;
  line-height: 20.7px;
  color: #292929;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.benefits-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  max-width: 100%;
}
.click-through-below {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 21px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.gostart {
  position: relative;
  line-height: 18px;
  font-weight: 700;
  display: inline-block;
  min-width: 58px;
}
.benefits-content-parent,
.link,
.rates-link-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  width: 125.2px;
  height: 78.7px;
  border-radius: 30px;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  flex-direction: row;
  padding: 18px 29px 18px 34px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  font-size: 13.4px;
  color: #fff;
}
.benefits-content-parent,
.rates-link-wrapper {
  flex-direction: column;
  max-width: 100%;
}
.rates-link-wrapper {
  width: 443.7px;
  gap: 9px;
  font-size: 14.8px;
  color: #292929;
}
.benefits-content-parent {
  width: 488px;
  gap: 37px;
  min-width: 488px;
}
.container-icon {
  height: 540px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 390px;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 97px;
  max-width: 100%;
}
.gomoworld-website-imagefiles-d-icon {
  height: 488.6px;
  flex: 1;
  position: relative;
  border-radius: 24px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 445px;
  min-height: 489px;
}
.heading-3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 41.4px;
  font-weight: 700;
  font-family: inherit;
  color: #06f;
  display: inline-block;
  max-width: 100%;
}
.cards-or-extra,
.velocitysim-connects-to,
.your-phones-esim {
  display: block;
}
.velocitysim-connects-to-container {
  margin: 0;
  position: relative;
  font-size: 15.2px;
  line-height: 20.7px;
  display: inline-block;
  max-width: 100%;
}
.and-connect-from,
.download-the-velocitysim {
  display: block;
}
.download-the-velocitysim-container {
  margin: 0;
  height: 41.4px;
  position: relative;
  font-size: 15.8px;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.godownload {
  position: relative;
  line-height: 18px;
  font-weight: 700;
  display: inline-block;
  min-width: 93px;
}
.background2,
.button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.button {
  width: 160.5px;
  height: 86px;
  border-radius: 30px;
  background-color: #06f;
  border: 2px solid #06f;
  flex-direction: row;
  padding: 18px 29px 18px 34px;
  font-size: 13px;
  color: #fff;
}
.background2 {
  width: 474px;
  border-radius: 24px;
  background-color: #f5f5f5;
  flex-direction: column;
  padding: 63.3px 20px 145.9px 40px;
  gap: 16.2px;
  min-width: 474px;
  max-width: 100%;
  flex-shrink: 0;
}
.sim-benefits-content {
  align-self: stretch;
  flex-direction: row;
  gap: 27px;
  font-size: 32px;
  color: #292929;
}
.frame-group,
.frame-wrapper,
.sim-benefits-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  flex-direction: column;
  gap: 15px;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 15px;
  box-sizing: border-box;
}
.how-velocitysim-works {
  width: 678px;
  position: relative;
  letter-spacing: -2px;
  line-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.how-it-works-title-wrapper {
  width: 1101.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.gomoworld-icons-fa2-01-2048x20 {
  width: 72px;
  height: 72px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading-4 {
  position: relative;
  line-height: 27.6px;
}
.unlock-a-world {
  display: block;
}
.head-to-the-container1 {
  width: 100%;
}
.head-to-the-container {
  margin: 0;
  width: 299.1px;
  position: relative;
  font-size: 15.5px;
  line-height: 20.7px;
  display: flex;
  align-items: center;
}
.gomoworld-icons-fa2-01-2048x20-parent,
.steps-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.5px;
}
.steps-content-wrapper {
  gap: 28.9px;
  max-width: 100%;
  flex-shrink: 0;
}
.gomoworld-icons-fa2-03-2048x20,
.gomoworldwebsite-device-fapng-icon {
  height: 565.1px;
  width: 280px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gomoworld-icons-fa2-03-2048x20 {
  width: 72px;
  height: 72px;
}
.heading-41 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 27.6px;
  font-weight: 700;
  font-family: inherit;
}
.heading-4-install-your-esim-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 7px;
}
.below,
.details-on-this,
.from-here-follow,
.screen-to-install {
  display: block;
}
.from-here-follow-container {
  margin: 0;
  position: relative;
  font-size: 15.3px;
  line-height: 20.7px;
}
.gomoworld-icons-fa2-04-2048x20 {
  width: 72px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: contain;
}
.frame-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.2px;
}
.heading-42 {
  position: relative;
  font-size: 18.8px;
  line-height: 27.6px;
}
.app-and-go,
.country-tap-to,
.once-you-reach {
  display: block;
}
.once-you-reach-container {
  margin: 0;
  position: relative;
  font-size: 15.9px;
  line-height: 20.7px;
}
.gomoworld-icons-fa2-03-2048x20-parent {
  height: 463.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.2px;
  font-size: 18px;
}
.steps-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 18.9px;
  color: #292929;
}
.button1 {
  height: 54px;
  width: 192.3px;
}
.setup-video-button-wrapper {
  width: 1103px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.how-it-works-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 48px;
  max-width: 100%;
}
.how-it-works-content-wrapper {
  width: 1166.8px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 15px 33px;
  box-sizing: border-box;
  text-align: center;
  font-size: 53.8px;
}
.background,
.background-inner,
.frame-parent,
.how-it-works-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 86.9px;
}
.background,
.background-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 53.9px;
  color: #06f;
}
.background {
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 248px;
  gap: 16px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  text-align: left;
  font-size: 52.1px;
  color: #fff;
  font-family: Verdana;
}
.item-link,
.item-link1 {
  position: relative;
  line-height: 17px;
  display: inline-block;
}
.item-link {
  font-size: 12.3px;
  color: inherit;
  text-decoration: none;
  min-width: 73px;
}
.item-link1 {
  min-width: 34px;
}
.item-link2 {
  font-size: 12.4px;
  line-height: 17px;
  color: inherit;
  text-decoration: none;
  min-width: 85px;
}
.item-link2,
.item-link3,
.item-link4,
.item-link5 {
  position: relative;
  display: inline-block;
}
.item-link3 {
  flex: 1;
  font-size: 12.1px;
  line-height: 16.1px;
  min-width: 119.9px;
}
.item-link4,
.item-link5 {
  line-height: 17px;
}
.item-link4 {
  font-size: 12.5px;
  min-width: 83px;
}
.item-link5 {
  min-width: 104px;
}
.item-link6 {
  width: 79.5px;
  position: relative;
  font-size: 13px;
  line-height: 16.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 79.5px;
}
.container1,
.nav-menu-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.nav-menu-list {
  height: 16.1px;
  width: 666px;
  justify-content: flex-start;
  padding: 0 6px;
  gap: 12.5px;
}
.container1 {
  width: 1200px;
  justify-content: center;
  padding: 6.9px 20px 24px;
}
.background3,
.footer-web {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.background3 {
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 15px;
}
.footer-web {
  height: 769.3px;
  padding: 0 0 62px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
  margin-top: -0.4px;
  text-align: center;
  font-size: 12.7px;
  color: #fff;
  font-family: Verdana;
}
.background-parent,
.footer-web,
.homepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.background-parent {
  align-self: stretch;
  height: 4497px;
  flex-shrink: 0;
  padding: 0 0 768.6px;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-container {
    gap: 48px;
  }
  .frame-parent {
    gap: 43px;
  }
  .background,
  .background-parent {
    padding-bottom: 105px;
    box-sizing: border-box;
  }
  .background-parent {
    padding-bottom: 325px;
  }
}
@media screen and (max-width: 1050px) {
  .experience-the-thrill {
    font-size: 42px;
    line-height: 54px;
  }
  .background1 {
    padding-left: 135px;
    padding-top: 142px;
    padding-bottom: 142px;
    box-sizing: border-box;
  }
  .empower-with-exceptional {
    font-size: 43px;
    line-height: 54px;
  }
  .benefits-content-parent {
    flex: 1;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .heading-3 {
    font-size: 26px;
    line-height: 33px;
  }
  .background2 {
    flex: 1;
  }
  .sim-benefits-content {
    flex-wrap: wrap;
  }
  .how-velocitysim-works {
    font-size: 43px;
    line-height: 54px;
  }
  .steps-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .background {
    padding-bottom: 68px;
    box-sizing: border-box;
  }
  .background-parent,
  .footer-web {
    padding-bottom: 40px;
    box-sizing: border-box;
  }
  .background-parent {
    height: auto;
    padding-bottom: 211px;
  }
}
@media screen and (max-width: 750px) {
  .benefits-content-parent {
    gap: 18px;
    min-width: 100%;
  }
  .container-icon {
    min-width: 100%;
  }
  .frame-container {
    gap: 24px;
  }
  .background2,
  .gomoworld-website-imagefiles-d-icon {
    min-width: 100%;
  }
  .background2 {
    padding-top: 41px;
    padding-bottom: 95px;
    box-sizing: border-box;
  }
  .how-it-works-content {
    gap: 24px;
  }
  .frame-parent {
    gap: 22px;
  }
  .background,
  .background-parent {
    padding-bottom: 44px;
    box-sizing: border-box;
  }
  .background-parent {
    padding-bottom: 137px;
  }
}
@media screen and (max-width: 450px) {
  .experience-the-thrill {
    font-size: 31px;
    line-height: 41px;
  }
  .background1 {
    padding-left: 20px;
    padding-top: 92px;
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  .empower-with-exceptional {
    font-size: 32px;
    line-height: 41px;
  }
  .heading-3 {
    font-size: 19px;
    line-height: 25px;
  }
  .how-velocitysim-works {
    font-size: 32px;
    line-height: 41px;
  }
  .footer-web {
    height: auto;
    padding-bottom: 26px;
    box-sizing: border-box;
  }
}
