.velocitysim-newsroom {
  width: 664.5px;
  position: relative;
  letter-spacing: -2px;
  line-height: 62.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.velocitysim-newsroom-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 21.6px 1px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 54.3px;
}
.welcome-to-the {
  position: relative;
  line-height: 21px;
}
.welcome-to-the-velocitysim-new-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 5.7px 2px;
}
.as-they-roam,
.velocitysim-is-the {
  display: block;
}
.velocitysim-is-the-container1 {
  width: 100%;
}
.velocitysim-is-the-container {
  margin: 0;
  width: 786.6px;
  position: relative;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.velocitysim-is-the-revolutiona-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 6px 1px;
}
.contact-the-press {
  position: relative;
  line-height: 18px;
}
.contact-the-press-team-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.6px;
}
.icon1 {
  height: 22px;
  width: 20.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link8 {
  align-self: stretch;
  border-radius: 30px;
  background-color: #06f;
  border: 2px solid #06f;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 17px 30px 17px 34px;
  gap: 10px;
}
.heading-21,
.link-container {
  display: flex;
  justify-content: center;
}
.link-container {
  align-self: stretch;
  height: 223.1px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 118px;
  box-sizing: border-box;
  font-size: 12.9px;
  color: #fff;
}
.heading-21 {
  width: 263.6px;
  position: relative;
  letter-spacing: -1px;
  line-height: 42px;
  align-items: center;
  flex-shrink: 0;
}
.heading-2-press-releases-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 38px;
  font-size: 32.8px;
}
.mar-9-2023 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 64px;
}
.link-read,
.velocitysim-communiqu-de {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.velocitysim-communiqu-de {
  width: 384px;
  font-size: 21.2px;
  line-height: 26px;
  color: inherit;
  max-width: 100%;
}
.link-read {
  width: 142.5px;
  font-size: 14px;
  line-height: 22px;
  color: #06f;
}
.article,
.paragraphbackground {
  flex: 1;
  background-color: #f5f5f5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.paragraphbackground {
  border-radius: 16px;
  flex-direction: column;
  padding: 32px 20px 20px 32px;
  gap: 10px;
}
.article {
  border-radius: 24px;
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 26px;
  min-width: 370px;
}
.feb-8-2023 {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 63px;
}
.global-roaming-app,
.introducing-velocitysim-a {
  display: block;
}
.introducing-velocitysim-a-container {
  margin: 0;
  position: relative;
  font-size: 21px;
  line-height: 26px;
  display: inline-block;
  max-width: 100%;
}
.link-read1 {
  width: 142.5px;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  color: #06f;
  display: flex;
  align-items: center;
}
.article1,
.background8 {
  flex: 1;
  background-color: #f5f5f5;
  justify-content: flex-start;
}
.background8 {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 20px 20px 32px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
}
.article1 {
  border-radius: 24px;
  overflow: hidden;
  min-width: 370px;
}
.article-parent,
.article1,
.background-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.article-parent {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.background-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 15px 94px;
  box-sizing: border-box;
  text-align: left;
  font-size: 10.3px;
}
.heading-22 {
  width: 102.4px;
  position: relative;
  letter-spacing: -1px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 102.4px;
}
.heading-2-video-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 38px 1px;
  font-size: 33.6px;
}
.overlay {
  height: 260px;
  width: 376px;
  position: relative;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.48);
  display: none;
  max-width: 100%;
}
.button-icon {
  height: 72.8px;
  width: 96.8px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
}
.background9 {
  align-self: stretch;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.48);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 93.7px 20px 93.5px;
  box-sizing: border-box;
  background-image: url(/public/background@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.strong-simplicity {
  position: relative;
  font-size: 14.1px;
  line-height: 21px;
}
.velocitysim-is-created {
  position: relative;
  line-height: 17px;
}
.accessing-the-best {
  position: relative;
  line-height: 17.4px;
}
.countries-and-growing {
  position: relative;
  font-size: 12.4px;
  line-height: 17px;
}
.strong-simplicity-in-an-app-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.9px;
}
.background-parent1,
.frame-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper3 {
  flex-direction: row;
  padding: 0 15px;
  box-sizing: border-box;
}
.background-parent1 {
  flex-direction: column;
  gap: 23.7px;
}
.overlay1 {
  height: 260px;
  width: 376.1px;
  position: relative;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.48);
  display: none;
  max-width: 100%;
}
.button-icon1 {
  height: 72.8px;
  width: 96.8px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
}
.background10 {
  align-self: stretch;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.48);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 93.7px 20px 93.5px;
  box-sizing: border-box;
  background-image: url(/public/background1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.strong-downloading {
  position: relative;
  font-size: 14.2px;
  line-height: 20.7px;
}
.velocitysim-is-created1 {
  position: relative;
  line-height: 16.1px;
}
.connect-one-app,
.roaming-across-160 {
  position: relative;
  line-height: 17.4px;
}
.strong-downloading-the-app-parent {
  flex: 1;
  flex-direction: column;
  gap: 3.3px;
}
.background-parent2,
.frame-wrapper4,
.strong-downloading-the-app-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 19px 0 15px;
  box-sizing: border-box;
}
.background-parent2 {
  flex-direction: column;
  gap: 23.7px;
  font-size: 12.1px;
}
.overlay2 {
  height: 260px;
  width: 376px;
  position: relative;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.48);
  display: none;
  max-width: 100%;
}
.button-icon2 {
  height: 72.8px;
  width: 96.8px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
}
.background11 {
  align-self: stretch;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.48);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 93.7px 20px 93.5px;
  box-sizing: border-box;
  background-image: url(/public/background2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.strong-what {
  position: relative;
  line-height: 21px;
}
.velocitysim-harnesses-the {
  position: relative;
  font-size: 12.3px;
  line-height: 17px;
  display: inline-block;
  max-width: 100%;
}
.esim-to-unlock,
.no-worries-download {
  position: relative;
  font-size: 11.9px;
  line-height: 17.4px;
}
.no-worries-download {
  font-size: 12.1px;
}
.strong-what-is-an-esim-parent {
  flex-direction: column;
  gap: 2.9px;
}
.background-parent3,
.frame-wrapper5,
.strong-what-is-an-esim-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper5 {
  flex-direction: row;
  padding: 0 15px;
  box-sizing: border-box;
}
.background-parent3 {
  flex-direction: column;
  gap: 23.7px;
  font-size: 13.9px;
}
.background-child,
.frame-parent6 {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent6 {
  flex: 1;
  display: grid;
  justify-content: flex-start;
  gap: 24px;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
}
.background-child {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  padding: 0 12px 31.6px;
  box-sizing: border-box;
  text-align: left;
  font-size: 12.3px;
}
.link9 {
  align-self: stretch;
  width: 208.1px;
  cursor: pointer;
}
.heading-23,
.link-frame {
  display: flex;
  justify-content: center;
}
.link-frame {
  align-self: stretch;
  height: 133.8px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 77px 1px;
  box-sizing: border-box;
}
.heading-23 {
  width: 482.3px;
  position: relative;
  letter-spacing: -1px;
  line-height: 42px;
  align-items: center;
  flex-shrink: 0;
}
.heading-2-brand-assets-and-m-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 38px 1px;
  font-size: 33.1px;
}
.gomoworld-website-imagefiles-d-icon1 {
  height: 488.6px;
  flex: 1;
  position: relative;
  border-radius: 24px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 445px;
  min-height: 489px;
}
.gomo-icon-burstsvg {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.velocitysim-logo {
  position: relative;
  letter-spacing: -1px;
  line-height: 41.4px;
}
.long,
.our-logo-icon {
  display: block;
}
.our-logo-icon-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 20.7px;
}
.link10 {
  width: 206.8px;
  height: 89.8px;
}
.our-logo-icon-and-company-des-parent {
  width: 404.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.7px;
  max-width: 100%;
  font-size: 9px;
}
.background12,
.gomoworld-website-imagefiles-d-parent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.background12 {
  width: 474px;
  border-radius: 24px;
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 23px 111.1px;
  gap: 47.3px;
  min-width: 474px;
  flex-shrink: 0;
}
.gomoworld-website-imagefiles-d-parent {
  width: 1185px;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 38px;
  gap: 27px;
  text-align: left;
  font-size: 18.9px;
}
.gomo-icon-burstsvg1 {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-31 {
  position: relative;
  letter-spacing: -1px;
  line-height: 41.4px;
  font-weight: 700;
}
.and-print-use,
.velocitysim-press-launch {
  display: block;
}
.velocitysim-press-launch-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 20.7px;
}
.link11 {
  width: 206.8px;
  height: 89.8px;
}
.background13,
.velocitysim-press-launch-photo-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.velocitysim-press-launch-photo-parent {
  width: 371.2px;
  gap: 7.7px;
  font-size: 9px;
}
.background13 {
  width: 474px;
  border-radius: 24px;
  background-color: #f5f5f5;
  padding: 32px 23px 120.5px;
  box-sizing: border-box;
  gap: 47.3px;
  min-width: 474px;
}
.rectangle-26png-icon {
  height: 498px;
  flex: 1;
  position: relative;
  border-radius: 24px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 454px;
}
.background-parent4,
.velocitysim-coverage {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.background-parent4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 92px;
  box-sizing: border-box;
  gap: 21px;
  text-align: left;
  font-size: 19.1px;
}
.velocitysim-coverage {
  width: 393px;
  position: relative;
  letter-spacing: -1px;
  line-height: 42px;
  align-items: center;
  flex-shrink: 0;
}
.velocitysim-coverage-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 29.6px 1px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 33.8px;
}
.networks-in-160,
.velocitysim-app-you,
.velocitysim-customers-enjoy {
  display: block;
}
.velocitysim-customers-enjoy-container1 {
  width: 100%;
}
.velocitysim-customers-enjoy-container {
  margin: 0;
  width: 734.4px;
  position: relative;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.velocitysim-customers-enjoy-gl-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 54.3px 1px;
  font-size: 15.6px;
}
.gomoworld-map-01png-icon {
  width: 1131px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  max-width: 100%;
}
.background-wrapper,
.background14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.background14 {
  flex: 1;
  border-radius: 24px;
  background-color: #f5f5f5;
  padding: 32px 23px 19px;
}
.background-wrapper {
  align-self: stretch;
  padding: 0 0 77px;
}
.heading-24 {
  margin: 0;
  width: 94.5px;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 94.5px;
}
.heading-2-faqs-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 38px 1px;
  font-size: 34px;
}
.what-is-velocitysim1 {
  width: 226px;
  position: relative;
  line-height: 27.6px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.link-icon {
  width: 14px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-wrapper1,
.tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.6px;
}
.tab {
  align-self: stretch;
  border-bottom: 1px solid #b8b8b8;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15.2px 16px 16px;
  gap: 20px;
}
.charges,
.from-just-399,
.providing-access-to,
.velocitysim-is-the1 {
  display: block;
}
.velocitysim-is-the-container2 {
  margin: 0;
  position: relative;
  line-height: 20.7px;
}
.networks-and-never,
.velocitysim-customers-enjoy1 {
  display: block;
}
.velocitysim-customers-enjoy-container2 {
  margin: 0;
  position: relative;
  line-height: 20.7px;
  display: inline-block;
  max-width: 100%;
}
.expanding-across-new,
.one-app-provides {
  display: block;
}
.one-app-provides-container {
  margin: 0;
  height: 41.4px;
  position: relative;
  font-size: 15.8px;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.velocitysim-is-the-revolutiona-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.border-inner {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 29px;
  box-sizing: border-box;
  font-size: 15.6px;
  color: #515151;
}
.border,
.border-inner,
.border-wrapper {
  display: flex;
  max-width: 100%;
}
.border {
  width: 874px;
  border-radius: 8px;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 40px;
  gap: 26.7px;
}
.border-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: 19.1px;
}
.what-is-unique {
  width: 370.3px;
  position: relative;
  line-height: 27.6px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: calc(100% - 34px);
}
.link12 {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}
.link-wrapper2 {
  width: 14.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.6px;
  box-sizing: border-box;
  font-size: 16px;
  color: #06f;
  font-family: Inter;
}
.border-container,
.border1,
.tab1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.tab1 {
  flex: 1;
  border-bottom: 1px solid #b8b8b8;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15.2px 16px 16px;
  gap: 20px;
}
.border-container,
.border1 {
  align-items: flex-start;
}
.border1 {
  width: 874px;
  border-radius: 8px;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.border-container {
  align-self: stretch;
  justify-content: center;
  text-align: left;
  font-size: 18.9px;
}
.link-can,
.link13 {
  position: relative;
  line-height: 27.6px;
}
.link13 {
  align-self: stretch;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}
.link-wrapper3 {
  width: 14.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.7px;
  box-sizing: border-box;
  font-size: 16px;
  color: #06f;
  font-family: Inter;
}
.border-frame,
.border2,
.tab2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.tab2 {
  flex: 1;
  border-bottom: 1px solid #b8b8b8;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15.2px 16px 16px;
  gap: 20px;
}
.border-frame,
.border2 {
  align-items: flex-start;
}
.border2 {
  width: 874px;
  border-radius: 8px;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.border-frame {
  align-self: stretch;
  justify-content: center;
  text-align: left;
  font-size: 18.4px;
}
.link-so,
.link14 {
  position: relative;
  line-height: 28px;
}
.link14 {
  align-self: stretch;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}
.link-wrapper4 {
  width: 14.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5.1px;
  box-sizing: border-box;
  font-size: 16px;
  color: #06f;
  font-family: Inter;
}
.border-wrapper1,
.border3,
.tab3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.tab3 {
  flex: 1;
  border-bottom: 1px solid #b8b8b8;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15.2px 16px 16px;
  gap: 20px;
}
.border-wrapper1,
.border3 {
  align-items: flex-start;
}
.border3 {
  width: 874px;
  border-radius: 8px;
  border: 1px solid #b8b8b8;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.border-wrapper1 {
  align-self: stretch;
  justify-content: center;
  padding: 0 0 96px;
  text-align: left;
  font-size: 18.6px;
}
.and-updates,
.connect-with-our,
.team-for-media {
  margin: 0;
}
.connect-with-our-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 48.3px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 452.4px;
  max-width: 100%;
}
.link15 {
  align-self: stretch;
  height: 56.8px;
}
.link-wrapper5 {
  height: 100.7px;
  width: 267.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 267.8000000000029px;
}
.background15,
.background7 {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  max-width: 100%;
}
.background15 {
  border-radius: 16px;
  background-color: #06f;
  flex-direction: row;
  justify-content: space-between;
  padding: 64.9px 111px 96.1px;
  gap: 20px;
  text-align: left;
  font-size: 33px;
  color: #fff;
}
.background7 {
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 64px 360px 128px;
  gap: 10px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  text-align: center;
  font-size: 15.8px;
  color: #292929;
  font-family: Verdana;
}
.logo-icon1 {
  width: 399px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.item-link18 {
  display: inline-block;
  min-width: 42px;
}
.item-link18,
.item-link19,
.item-link20,
.item-link21,
.item-link22 {
  position: relative;
  line-height: 16px;
  font-weight: 700;
  flex-shrink: 0;
}
.item-link19 {
  width: 92px;
  font-size: 12.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 92px;
}
.item-link20,
.item-link21,
.item-link22 {
  display: inline-block;
}
.item-link20 {
  font-size: 12.1px;
  color: inherit;
  text-decoration: none;
  min-width: 94.4px;
}
.item-link21,
.item-link22 {
  font-size: 13.1px;
  min-width: 33px;
}
.item-link22 {
  font-size: 13px;
  min-width: 38px;
}
.nav-menu-list2 {
  width: 396.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.background16 {
  align-self: stretch;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 153px 21px 104.9px 20px;
  box-sizing: border-box;
  gap: 72px;
  max-width: 100%;
}
.rectangle2 {
  height: 71px;
  width: 400px;
  position: relative;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.symbol8 {
  position: relative;
  line-height: 35px;
  display: inline-block;
  min-width: 16px;
  white-space: nowrap;
}
.link16 {
  width: 35px;
  border-radius: 35px;
  background-color: #06f;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px 0 9px;
  box-sizing: border-box;
}
.link16,
.link17,
.symbol9 {
  flex-shrink: 0;
  display: flex;
}
.symbol9 {
  width: 20.3px;
  position: relative;
  line-height: 35px;
  align-items: center;
  justify-content: center;
  min-width: 20.3px;
  white-space: nowrap;
}
.link17 {
  width: 35px;
  border-radius: 35px;
  background-color: #06f;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px;
  box-sizing: border-box;
}
.symbol10 {
  width: 17.8px;
  position: relative;
  line-height: 35px;
  align-items: center;
  justify-content: center;
  min-width: 17.8px;
  white-space: nowrap;
}
.link18,
.symbol10,
.symbol11 {
  display: flex;
  flex-shrink: 0;
}
.link18 {
  width: 35px;
  border-radius: 35px;
  background-color: #06f;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
  box-sizing: border-box;
}
.symbol11 {
  width: 17.8px;
  position: relative;
  line-height: 35px;
  align-items: center;
  justify-content: center;
  min-width: 17.8px;
  white-space: nowrap;
}
.link19 {
  width: 35px;
  border-radius: 35px;
  background-color: #06f;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
  box-sizing: border-box;
}
.link19,
.link20,
.symbol12 {
  flex-shrink: 0;
  display: flex;
}
.symbol12 {
  width: 22.8px;
  position: relative;
  line-height: 35px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.link20 {
  width: 35px;
  border-radius: 35px;
  background-color: #06f;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 6px;
  box-sizing: border-box;
}
.rectangle3 {
  height: 71px;
  width: 400.1px;
  position: relative;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
}
.background17,
.container5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.container5 {
  width: 1200px;
  overflow-x: auto;
  flex-shrink: 0;
  padding: 10px 20px 26px;
  gap: 13.8px;
}
.background17 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  padding: 15px 0 0;
}
.velocitysimcom1 {
  position: relative;
  line-height: 21px;
}
.velocitysimcom-all-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 22px;
}
.link-output-onlinepngtoolsp1 {
  align-self: stretch;
  height: 12.9px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.link-output-onlinepngtoolsp-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.7px 0 0;
  box-sizing: border-box;
}
.link-esims-io-badge-7png1 {
  height: 44.4px;
  width: 120px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.container7,
.group1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group1 {
  flex: 1;
  display: flex;
  padding: 18px 428px;
  box-sizing: border-box;
  gap: 12px;
  max-width: 100%;
}
.container7 {
  align-self: stretch;
  padding: 0 15px 0 23px;
}
.background18,
.container6,
.container7 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.container6 {
  width: 1200px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 16px 0 0;
  gap: 16px;
}
.background18 {
  position: absolute;
  top: 74px;
  left: 0;
  background-color: #000;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 15px;
  z-index: 1;
  font-size: 11.7px;
  font-family: Verdana;
}
.background-parent5 {
  align-self: stretch;
  height: 222.4px;
  position: relative;
  max-width: 100%;
  font-size: 20px;
  font-family: Poppins;
}
.item-link23 {
  position: relative;
  font-size: 12.3px;
  line-height: 17px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 73px;
}
.item-link24 {
  line-height: 17px;
  min-width: 34px;
}
.item-link24,
.item-link25,
.item-link26 {
  position: relative;
  display: inline-block;
}
.item-link25 {
  text-decoration: none;
  font-size: 12.4px;
  line-height: 17px;
  color: inherit;
  min-width: 85px;
}
.item-link26 {
  flex: 1;
  font-size: 12.1px;
  line-height: 16.1px;
  min-width: 119.9px;
}
.item-link27,
.item-link28 {
  position: relative;
  line-height: 17px;
  display: inline-block;
}
.item-link27 {
  font-size: 12.5px;
  min-width: 83px;
}
.item-link28 {
  min-width: 104px;
}
.item-link29 {
  width: 79.5px;
  position: relative;
  font-size: 13px;
  line-height: 16.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 79.5px;
}
.container8,
.nav-menu-list3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.nav-menu-list3 {
  height: 16.1px;
  width: 666px;
  justify-content: flex-start;
  padding: 0 6px;
  gap: 12.5px;
}
.container8 {
  width: 1200px;
  justify-content: center;
  padding: 6.9px 20px 24px;
}
.background19,
.footer-web1 {
  align-self: stretch;
  max-width: 100%;
}
.background19 {
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 15px;
  box-sizing: border-box;
  font-size: 12.7px;
}
.footer-web1 {
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
  margin-top: -0.1px;
  text-align: center;
  font-size: 12.8px;
  color: #fff;
  font-family: Verdana;
}
.footer-web1,
.frame-main,
.newsroom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-main {
  align-self: stretch;
  height: 5715px;
  flex-shrink: 0;
  padding: 0 0 768.9px;
  box-sizing: border-box;
  max-width: 100%;
}
.newsroom {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1650px) {
  .frame-parent6 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(282px, 489px));
  }
  .background12 {
    flex: 1;
  }
  .gomoworld-website-imagefiles-d-parent {
    flex-wrap: wrap;
  }
  .background13 {
    flex: 1;
  }
  .background-parent4 {
    flex-wrap: wrap;
  }
  .connect-with-our-container {
    flex: 1;
    min-width: 100%;
  }
  .link-wrapper5 {
    flex: 1;
  }
  .background15 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-main {
    height: auto;
  }
}
@media screen and (max-width: 1300px) {
  .article,
  .article1,
  .background12,
  .background13,
  .gomoworld-website-imagefiles-d-icon1,
  .rectangle-26png-icon {
    min-width: 100%;
  }
  .background15 {
    padding-left: 55px;
    padding-right: 55px;
    box-sizing: border-box;
  }
  .background7 {
    padding: 20px 180px 35px;
    box-sizing: border-box;
  }
  .group1 {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 214px;
    padding-right: 214px;
    box-sizing: border-box;
  }
  .background-parent5 {
    height: auto;
    min-height: 222.4;
  }
  .frame-main {
    padding-bottom: 211px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .velocitysim-newsroom {
    font-size: 43px;
    line-height: 50px;
  }
  .heading-21 {
    font-size: 26px;
    line-height: 34px;
  }
  .article-parent {
    gap: 16px;
  }
  .heading-22 {
    font-size: 27px;
    line-height: 34px;
  }
  .frame-parent6 {
    grid-template-columns: minmax(282px, 1fr);
  }
  .heading-23 {
    font-size: 26px;
    line-height: 34px;
  }
  .background12,
  .background13 {
    padding-top: 21px;
    padding-bottom: 72px;
    box-sizing: border-box;
  }
  .background13 {
    padding-bottom: 78px;
  }
  .background-parent4 {
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  .velocitysim-coverage {
    font-size: 27px;
    line-height: 34px;
  }
  .background14 {
    padding-top: 21px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .background-wrapper {
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .heading-24 {
    font-size: 27px;
    line-height: 34px;
  }
  .connect-with-our-container {
    font-size: 26px;
    line-height: 39px;
  }
  .background15,
  .background7 {
    padding-left: 27px;
    padding-right: 27px;
    box-sizing: border-box;
  }
  .background7 {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 23px;
  }
  .background16 {
    padding-top: 20.100000000000364px;
    padding-bottom: 68px;
  }
  .background16,
  .frame-main,
  .group1 {
    box-sizing: border-box;
  }
  .group1 {
    padding-left: 107px;
    padding-right: 107px;
  }
  .frame-main {
    padding-bottom: 137px;
  }
}
@media screen and (max-width: 450px) {
  .velocitysim-newsroom {
    font-size: 33px;
    line-height: 37px;
  }
  .heading-21 {
    font-size: 20px;
    line-height: 25px;
  }
  .introducing-velocitysim-a-container,
  .velocitysim-communiqu-de {
    font-size: 17px;
    line-height: 21px;
  }
  .heading-22,
  .heading-23 {
    font-size: 20px;
    line-height: 25px;
  }
  .background12,
  .background13 {
    gap: 24px;
  }
  .velocitysim-coverage {
    font-size: 20px;
    line-height: 25px;
  }
  .background-wrapper {
    padding-bottom: 32px;
    box-sizing: border-box;
  }
  .heading-24 {
    font-size: 20px;
    line-height: 25px;
  }
  .connect-with-our-container {
    font-size: 20px;
    line-height: 29px;
  }
  .nav-menu-list2 {
    flex-wrap: wrap;
  }
  .background16 {
    gap: 36px;
  }
  .symbol10,
  .symbol11,
  .symbol12,
  .symbol8,
  .symbol9 {
    font-size: 16px;
    line-height: 28px;
  }
  .group1 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
