.heading-28 {
  position: relative;
  letter-spacing: -2px;
  line-height: 68px;
}
.incredible-special-offers,
.save-even-more {
  display: block;
}
.save-even-more-container {
  margin: 0;
  position: relative;
  font-size: 15.2px;
  letter-spacing: -0.5px;
  line-height: 20.7px;
}
.go-save-header,
.go-save-heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.go-save-heading {
  flex-direction: column;
  gap: 15.7px;
}
.go-save-header {
  align-self: stretch;
  flex-direction: row;
}
.button5 {
  width: 122.8px;
  height: 54px;
}
.go-save-content,
.go-save-header-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.go-save-header-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: 48.3px;
}
.go-save-content {
  width: 450px;
  align-items: flex-start;
  padding: 24px 0 0;
  box-sizing: border-box;
  min-width: 450px;
  flex-shrink: 0;
}
.overlay {
  width: 658px;
  height: 336.3px;
  position: relative;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  max-width: 100%;
}
.here-we-velocitysim {
  width: 229px;
  position: relative;
  line-height: 27.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.testimonial-content {
  width: 466px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  max-width: 100%;
}
.from8 {
  position: relative;
  line-height: 21px;
  font-weight: 700;
  display: inline-block;
  min-width: 42px;
  z-index: 1;
}
.testimonial-author {
  width: 466px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 3px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 14.2px;
}
.b8,
.testimonial-author,
.testimonial-price {
  display: flex;
  justify-content: center;
}
.b8 {
  width: 109.9px;
  position: relative;
  line-height: 8.2px;
  font-weight: 700;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.testimonial-price {
  width: 466px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 2px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 21px;
}
.special-offers-for {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  z-index: 1;
}
.button6 {
  align-self: stretch;
  width: 139.9px;
  z-index: 1;
}
.sign-up-button-container {
  align-self: stretch;
  height: 61.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.special-offer {
  width: 464.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23.4px;
  max-width: 100%;
  font-size: 13.5px;
}
.article2,
.background27 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.article2 {
  width: 658px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 39.2px 20px 37px;
  gap: 32.3px;
  background-image: url(/public/article@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 658px;
  text-align: center;
  font-size: 18.8px;
}
.background27 {
  align-self: stretch;
  background-color: #06f;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 64px 375px 96px;
  gap: 46px;
  text-align: left;
  font-size: 54.1px;
  color: #fff;
  font-family: Verdana;
}
@media screen and (max-width: 1800px) {
  .go-save-content {
    flex: 1;
  }
  .article2 {
    flex: 1;
    min-width: 100%;
  }
  .background27 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .go-save-content {
    min-width: 100%;
  }
  .background27 {
    padding-left: 187px;
    padding-right: 187px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .heading-28 {
    font-size: 43px;
    line-height: 54px;
  }
  .article2 {
    gap: 16px;
  }
  .background27 {
    gap: 23px;
    padding: 42px 93px 62px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-28 {
    font-size: 32px;
    line-height: 41px;
  }
  .go-save-header-parent {
    gap: 24px;
  }
  .b8 {
    font-size: 17px;
    line-height: 39px;
  }
}
