.heading-1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -2px;
  line-height: 62.1px;
}
.select-your-destination,
.the-rates-you {
  display: block;
}
.select-your-destination-container1 {
  width: 100%;
}
.select-your-destination-container {
  margin: 0;
  width: 640px;
  position: relative;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.destinations-subheading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
  font-size: 15.3px;
  color: #292929;
}
.form-input {
  border: 0;
  background-color: transparent;
  height: 52px;
  width: 668.7px;
  font-family: Verdana;
  font-weight: 700;
  font-size: 12.6px;
  color: #515151;
  max-width: 100%;
}
.destinations-form {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.destinations-container,
.destinations-form,
.destinations-header {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.destinations-header {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 31.5px;
}
.destinations-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 51px 0 52px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.canadapng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading-22 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 71.8px;
}
.heading-2-canada-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px;
}
.from2 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 26px;
}
.b2,
.from2,
.icon2 {
  position: relative;
}
.b2 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 63px;
  white-space: nowrap;
}
.icon2 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-container {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.from-group,
.icon-container,
.link-child,
.parent1 {
  display: flex;
  align-items: flex-start;
}
.parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-group,
.link-child {
  justify-content: flex-start;
}
.from-group {
  flex: 1;
  flex-direction: column;
}
.link-child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px 0 15px;
  font-size: 9.6px;
}
.indiapng-icon,
.link18 {
  max-width: 100%;
  overflow: hidden;
}
.link18 {
  height: 361.1px;
  width: 329px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 1px 25px;
  gap: 15.5px;
  min-width: 313px;
  font-size: 19.7px;
}
.indiapng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.heading-23 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 43.7px;
}
.heading-2-india-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.from3 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 26px;
}
.b3,
.from3,
.icon3 {
  position: relative;
}
.b3 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 63px;
  white-space: nowrap;
}
.icon3 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-frame,
.parent2 {
  display: flex;
  align-items: flex-start;
}
.icon-frame {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-container,
.link-inner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-container {
  flex: 1;
  flex-direction: column;
}
.link-inner1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.link19,
.mexicopng-icon {
  max-width: 100%;
  overflow: hidden;
}
.link19 {
  height: 361.1px;
  width: 329px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 1px 25px;
  gap: 15.5px;
  min-width: 313px;
  font-size: 17.3px;
}
.mexicopng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.heading-24 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 66.5px;
}
.heading-2-mexico-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.from4 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 26px;
}
.b4,
.from4,
.icon4 {
  position: relative;
}
.b4 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 63px;
  white-space: nowrap;
}
.icon4 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper1,
.parent3 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-parent1,
.link-inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-parent1 {
  flex: 1;
  flex-direction: column;
}
.link-inner2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.japanpng-icon,
.link20 {
  max-width: 100%;
  overflow: hidden;
}
.link20 {
  height: 361.1px;
  width: 329px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 1px 25px;
  gap: 15.5px;
  min-width: 313px;
  font-size: 19.5px;
}
.japanpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.heading-25 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 51.2px;
}
.heading-2-japan-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px;
}
.from5 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 26px;
}
.b5,
.from5,
.icon5 {
  position: relative;
}
.b5 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 63px;
  white-space: nowrap;
}
.icon5 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper2,
.parent4 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper2 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-parent2,
.link-inner3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-parent2 {
  flex: 1;
  flex-direction: column;
}
.link-inner3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px 0 15px;
  font-size: 9.6px;
}
.link21,
.perupng-icon {
  max-width: 100%;
  overflow: hidden;
}
.link21 {
  height: 361.1px;
  width: 329px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 1px 25px;
  gap: 15.5px;
  min-width: 313px;
  font-size: 17.8px;
}
.perupng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.heading-26 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 41px;
}
.heading-2-peru-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px;
}
.from6 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 26px;
}
.b6,
.from6,
.icon6 {
  position: relative;
}
.b6 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 63px;
  white-space: nowrap;
}
.icon6 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper3,
.parent5 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-parent3,
.link-inner4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.from-parent3 {
  flex: 1;
  flex-direction: column;
}
.link-inner4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px 0 15px;
  font-size: 9.6px;
}
.link22,
.thailandpng-icon {
  max-width: 100%;
  overflow: hidden;
}
.link22 {
  height: 361.1px;
  width: 329px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 1px 25px;
  gap: 15.5px;
  min-width: 313px;
  font-size: 18px;
}
.thailandpng-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.heading-27 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 76.1px;
}
.heading-2-thailand-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.from7 {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 26px;
}
.b7,
.from7,
.icon7 {
  position: relative;
}
.b7 {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 63px;
  white-space: nowrap;
}
.icon7 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper4,
.parent6 {
  display: flex;
  align-items: flex-start;
}
.icon-wrapper4 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.parent6 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.from-parent4 {
  flex: 1;
  flex-direction: column;
}
.destination-links,
.from-parent4,
.link-inner5,
.link23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-inner5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.destination-links,
.link23 {
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.link23 {
  height: 361.1px;
  width: 329px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  overflow: hidden;
  flex-direction: column;
  padding: 1px 1px 25.1px;
  gap: 15.5px;
  min-width: 313px;
  font-size: 18.6px;
}
.destination-links {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 52.9px;
  gap: 30px 28px;
  min-height: 1588px;
  text-align: left;
  font-size: 18.9px;
  color: #292929;
}
.button4 {
  align-self: stretch;
  width: 263.5px;
}
.browse-button-container {
  align-self: stretch;
  height: 55.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.destinations-container-parent {
  width: 1048px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 58px;
  max-width: 100%;
}
.destinations-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 127.6px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: 53.7px;
  color: #06f;
  font-family: Verdana;
}
@media screen and (max-width: 1350px) {
  .destinations-container {
    padding-left: 26px;
    padding-right: 25px;
    box-sizing: border-box;
  }
  .destinations-content {
    padding-bottom: 54px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .heading-1 {
    font-size: 43px;
    line-height: 50px;
  }
  .destinations-header {
    gap: 16px;
  }
  .destinations-container-parent {
    gap: 29px;
  }
  .destinations-content {
    padding-bottom: 35px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-1 {
    font-size: 32px;
    line-height: 37px;
  }
  .destination-links {
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
