.how-velocitysim-works2,
.step-items {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.how-velocitysim-works2 {
  width: 788px;
  position: relative;
  letter-spacing: -2px;
  line-height: 68px;
  align-items: center;
  flex-shrink: 0;
}
.step-items {
  width: 1146.2px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
}
.gomoworld-icons-fa2-01-2048x203 {
  width: 66.2px;
  height: 66.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  debug_commit: bf4bc93;
}
.download-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.9px;
}
.heading-47 {
  flex: 1;
  position: relative;
  line-height: 23px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.download-content {
  width: 249.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
}
.unlock-a-world2 {
  margin: 0;
}
.head-to-the-container4 {
  align-self: stretch;
  position: relative;
  font-size: 15.6px;
  line-height: 20.7px;
}
.download-content-parent {
  flex: 0.9848;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px 0 0;
  box-sizing: border-box;
  gap: 10.7px;
  min-width: 242px;
  max-width: 263px;
  font-size: 15.8px;
}
.gomoworld-icons-fa2-03-2048x203 {
  height: 65.6px;
  width: 65.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading-48 {
  position: relative;
  line-height: 23px;
}
.step-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 17.8px;
}
.step-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.details-using-faq,
.follow-the-instructions,
.to-install-your {
  display: block;
}
.follow-the-instructions-container {
  margin: 0;
  position: relative;
  font-size: 15.8px;
  line-height: 20.7px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.step-columns {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.7px;
  min-width: 207px;
  max-width: 263px;
  font-size: 15px;
}
.gomoworld-icons-fa2-02-2048x202,
.heading-49 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.gomoworld-icons-fa2-02-2048x202 {
  height: 65.6px;
  width: 65.6px;
  overflow: hidden;
  object-fit: cover;
}
.heading-49 {
  line-height: 23px;
  font-weight: 700;
}
.heading-4-your-destination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 17.8px;
}
.gomoworld-icons-fa2-02-2048x20-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.choose-the-country,
.from-the-dropdown1,
.to {
  display: block;
}
.from-the-dropdown-container1 {
  margin: 0;
  position: relative;
  font-size: 15.8px;
  line-height: 20.7px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.step-columns1 {
  flex: 0.9772;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px 0 0;
  box-sizing: border-box;
  gap: 15.7px;
  min-width: 207px;
  max-width: 263px;
}
.gomoworld-icons-fa2-04-2048x202,
.heading-410 {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.gomoworld-icons-fa2-04-2048x202 {
  height: 65.6px;
  width: 65.6px;
  overflow: hidden;
  object-fit: cover;
}
.heading-410 {
  line-height: 23px;
}
.heading-4-activate-your-plan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 17.8px;
}
.gomoworld-icons-fa2-04-2048x20-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.country-tap-to2,
.once-you-reach2,
.velocitysim-app-and {
  display: block;
}
.once-you-reach-container2 {
  margin: 0;
  height: 62.1px;
  position: relative;
  font-size: 15.8px;
  line-height: 20.7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.step-columns2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.7px;
  min-width: 205px;
  max-width: 258px;
}
.step-illustrations {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 36.9px;
  text-align: left;
  font-size: 15.6px;
  color: #292929;
}
.steps-container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40.4px;
  max-width: 100%;
}
.how-steps {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 11px 0 15px;
  box-sizing: border-box;
  max-width: 100%;
}
.button11 {
  height: 54px;
  width: 219.7px;
}
.instruction-content {
  width: 1169.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.embark-on-a3,
.journey3 {
  margin: 0;
}
.heading-3-container7 {
  width: 100%;
}
.delve-into-a3,
.heading-3-container6 {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.heading-3-container6 {
  width: 386px;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 48.3px;
  font-weight: 700;
  font-family: inherit;
}
.delve-into-a3 {
  width: 416px;
  font-size: 15.3px;
  line-height: 20.7px;
}
.background32 {
  flex: 1;
  border-radius: 24px;
  background-color: #06f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 52.6px 20px 281px 64px;
  box-sizing: border-box;
  gap: 29px;
  min-width: 386px;
  min-height: 564px;
  max-width: 100%;
  z-index: 1;
}
.gomoworld-website-imagefiles-d-icon4 {
  width: 564px;
  position: relative;
  border-radius: 24px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.background-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 27px;
  max-width: 100%;
}
.how-content,
.instruction-content-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.instruction-content-parent {
  align-self: stretch;
  gap: 63.8px;
  text-align: left;
  font-size: 34px;
  color: #fff;
}
.how-content {
  width: 1185px;
  gap: 112.8px;
}
.how-content-wrapper {
  width: 1905px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 53.8px;
  color: #06f;
  font-family: Verdana;
}
@media screen and (max-width: 1200px) {
  .instruction-content-parent {
    gap: 32px;
  }
  .how-content {
    gap: 56px;
  }
}
@media screen and (max-width: 1050px) {
  .how-velocitysim-works2 {
    font-size: 43px;
    line-height: 54px;
  }
  .heading-3-container6 {
    font-size: 27px;
    line-height: 39px;
  }
  .gomoworld-website-imagefiles-d-icon4 {
    flex: 1;
  }
  .background-parent5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .step-illustrations {
    gap: 18px;
  }
  .steps-container1 {
    gap: 20px;
  }
  .background32 {
    padding-left: 32px;
    padding-top: 34px;
    padding-bottom: 183px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .instruction-content-parent {
    gap: 16px;
  }
  .how-content {
    gap: 28px;
  }
}
@media screen and (max-width: 450px) {
  .how-velocitysim-works2 {
    font-size: 32px;
    line-height: 41px;
  }
  .download-content-parent,
  .step-columns1 {
    flex: 1;
  }
  .heading-3-container6 {
    font-size: 20px;
    line-height: 29px;
  }
}
