.americajpg-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading-2 {
  position: relative;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 120.8px;
}
.destination-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.from {
  line-height: 12px;
  font-weight: 700;
  display: inline-block;
  min-width: 26px;
}
.b,
.from,
.icon {
  position: relative;
}
.b {
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
  min-width: 63px;
  white-space: nowrap;
}
.icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.destination-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.destination-currency {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  font-size: 19.5px;
}
.destination-labels {
  flex: 1;
  flex-direction: column;
}
.destination-labels,
.destination-prices,
.link16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.destination-prices {
  align-self: stretch;
  flex-direction: row;
  padding: 0 16px;
  font-size: 9.6px;
}
.link16 {
  height: 361.4px;
  width: 329px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 1px 1px 25px;
  gap: 15.5px;
  min-width: 313px;
  max-width: 100%;
  cursor: pointer;
  text-align: left;
  font-size: 18.9px;
  color: #292929;
  font-family: Verdana;
}
